/* .MuiBox-root {
  background-color: tomato !important;
}

.MuiBackdrop-root {
  background-color: white !important;
} */

.popup {
}

.objkt {
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 3px #fff;
  background-color: #161818;

  width: 400px;
  height: 60px;

  font-size: 25px;
  color: white;
  text-align: center;
  display: block;
  margin: 20% 0 0 0px;

  top: 100%;
  transform: translateY(-100%);
}

.number {
  max-width: 400px;
  min-width: fit-content;
  padding: 0px 10px;
  height: 60px;
  display: flex;
  /* margin: 0px 215px 10px 278px; */
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px 0 white(0, 0, 0, 0.25);
  border: solid 3px #fff;
  background-color: #161818;
  font-family: Roboto;
  font-size: 30px;
  text-align: left;
  color: #fff;
  top: 100%;
}
