body {
    background: black !important;
}

.card {
    width: 395px;
    height: 450px;
    flex-grow: 0;
    background-color: #151617 !important;
    margin: 0px 0 0 0;
    border-style: solid !important;
    border-width: thin !important;
    border-color: grey !important;
    background: black;
    color: #fff;
}

/* @media only screen and (max-width: 820px) {
    .card {
        width: 200px;
        height: 440px;
    }
} */

.card:hover {
    box-shadow: 5px 10px 20px 1px rgb(245, 248, 248) !important;
}

.card-body {
    padding: 0 rem;
    color: rgb(255, 255, 255);
}

.card-text {
    font-size: 1.5rem;
    padding: 0.4rem 1.9rem;
    color: white !important;
}

.container-fluid {
    max-width: 1200px;
}

.container-fluid .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-bottom: 2rem;
}

.card-title {
    color: white !important;
    font-size: 36px;
}

.team{
    color: white;
    align-items: center;
    font-size: clamp(2.5rem, 10vw, 5rem);
  color:white;
  letter-spacing: 3px;
}
