.slick-dots li button:before {
  color: white !important;
}

.containers {
  background-color: black;
  margin: 20px 25px 0 25px;
  height: 800px;
  display: grid;
  align-items: center;
  justify-items: center;
}

body {
  background-color: black;
}

.image {
  width: 500px;
  margin: auto;
  /* padding: 0px !important; */
}

@media screen and (max-width: 480px) {
  .image {
    width: 420px;
  }
}

.error {
  color: white;
  font-size: 50px;
  margin: 200px 0 0 auto;
}

.traits-carousel {
  max-width: 600px;
}

.dropdowns-section {
  display: flex;
  gap: 10vw;
  flex-wrap: wrap;
  justify-content: center;
}
/* 
.slider {
  max-width: 800px;
} */

@media screen and (max-width: 800px) {
  .traits-carousel {
    zoom: 85%;
    width: 100vw;
  }
}

.dropdown {
  font-size: 20px;
  color: black;
  /* background-color: grey; */
}

.dropdown div {
  color: black !important;
  background-color: white !important;
}

.dropdown div div {
  color: black !important;
  background-color: white !important;
}

.dropdown div div span {
  color: black !important;
  background-color: white !important;
  font-size: 20px;
  transition: all 0.08s ease-in-out;
}

.dropdown div div span:hover {
  color: black !important;
  background-color: white !important;
  font-weight: bold;
  transform: scale(1.1, 1.1);
}

/* .dropdown div div:hover {
  color: black !important;
  background-color: black !important;
  font-weight: bold;
  transform: scale(1.1, 1.1);
} */
